<div>
  <a [routerLink]="['/users', user().id, 'tasks']" routerLinkActive="selected">
    <!-- The binding [routerLink]="['/users', user().id, 'tasks']" dynamically generates the route to navigate to the user's tasks page. 
     This will translate into /users/123/tasks, where 123 is the user.id. -->
    <!-- routerLinkActive="selected": This is a directive used to apply a CSS class to an element when its associated route is active. In this case, 
     when the current route matches the routerLink (i.e., the URL is /users/123/tasks), the selected class will be applied to the anchor tag <a>.
     This is useful for styling the active route, so the user knows which section they are currently viewing. -->
    <img [src]="imagePath()" [alt]="user().name" />
    <span>{{ user().name }}</span>
  </a>
</div>
